body{
    margin: 0%;
    padding: 0%;
    /* overflow-x: hidden; */
}
.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 2.75rem;
    width: 100%;
    /* height: fit-content; */
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    z-index: 100;

  
}

.nav-link{
    
text-decoration: none;
color: white;
justify-content: space-evenly;

 word-wrap: none;
}

