.navbar {
    font-size: 18px;
    /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .main-nav {
    list-style-type: none;
    display: none;
  }
  .nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    font-size: larger;
  }
  
  .active {
    display: block;
  }
  
  .bring-down {
    height: 3rem;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    font-size: 24px;
  }

  .hamburger{
    height: 40px;
    width: 30px;
  }
  
  .hamburger-btn {
    all: unset;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-bottom: 0;
      height: 60px;
    }
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .main-nav {
      margin: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .nav-link:hover {
      color: rgba(255, 255, 255, 1);
    }
  }